	.weekend{ background: rgb(54, 54, 54)!important; color:white !important;}
	.today{ background: #BD7990!important; color:white !important;}

	.task_class {
	    font-size: 36px; 
	}	

	.gantt_task_line, .gantt_task_progress {
	    border: none;
    	border-radius: 5px;
    	height: 40%
	}


	.gantt_last_cell {
		border-right: none!important;
	}

	.gantt_task_row.gantt_selected {
		background-color: rgb(245, 245, 245);
	}

	.gantt_task_cell.gantt_selected {
		box-shadow: 0 0 5px black!important;
	}

	.gantt_task_row, .gantt_row {
	    opacity: 0.8;
	}

	.gantt_row.odd, .gantt_task_row.odd {
		  background-color: #f5f5f5;
		}

	.gantt_task_line, .gantt_project {
	}

	.gantt_blue {background-color:#3366CC !important;}
	.gantt_red {background-color: #DC3912 !important;}
	.gantt_orange {background-color: #FF9900 !important;}
	.gantt_green {background-color: #109618 !important;}
	.gantt_purple {background-color: #990099 !important;}
	.gantt_navy {background-color: #3B3EAC !important;}




.project {
		opacity: 0.6!important;
		border-top: 1px solid;
    	border-radius: 0px;
    	height: 100%
}
	
	.gantt_task_line.project {
    	height: 33px!important;
	}

.project .task_right, .project .task_left, .project .gantt_drag_progress, .gantt_message_area {
	display: none;
}


.shade {
	border-bottom: 4px solid!important;
	opacity: 1!important;
	background:rgba(255,255,255,1)!important;
}

.parent_row .gantt_task_cell {
	background:rgba(255,255,255,1)!important;
}

.gantt_task_line.unscheduled {
	border-radius: 50px;
	width: 110px!important;
	opacity: 0.6;
}

.lighten {
	opacity: 0.4;
}


[data-magellan-expedition], [data-magellan-expedition-clone] {
    padding: 0px!important;
    z-index: 50;
}

.rightArrow {
    color: white;
    font-size: 35px;
    text-align: center;
}

.leftArrow {
    color: white;
    font-size: 35px;
    text-align: center;
}

.dark {
	color: grey!important;
}

.gchart a {
	height: 35px;
	padding-top: 10px!important;
	line-height: 16px!important;
	font-size: 16px;
	margin-bottom: 1px!important;
}

.scale_gone {
	display: none!important;
	height: 0px!important;
}

.scale_stay {
	height: 35px!important;
	line-height: 35px!important;
	font-size: 12px!important;
}