	.weekend{ background: rgb(54, 54, 54); color:white;}
	.today{ background: #BD7990!important; color:white !important;}

	.task_class {
	    font-size: 36px; 
	}	

	.gantt_task_line, .gantt_task_progress {
	    border: none;
    	border-radius: 5px;
	}

	.gantt_task_cell, .gantt_scale_cell {
		border-right: none!important;
	}

	.gantt_task_row.gantt_selected {
		background-color: rgb(245, 245, 245);
	}

	.gantt_task_cell.gantt_selected {
		box-shadow: 0 0 5px black!important;
	}



	.gantt_grid { display: none;}

	.gantt_task_line, .gantt_project {
	    padding-top: 3px;
	    padding-bottom: 3px;
	}

	.deadline {
			position: absolute;
			border-radius: 12px;
			border: 2px solid #585858;
			-moz-box-sizing: border-box;
			box-sizing: border-box;

			width: 22px;
			height: 22px;
			margin-left: -11px;
			margin-top: 6px;
			z-index: 1;
			background: url("common/deadline_icon.png") center no-repeat;
	}

	.shrunk {
		display: none;
	}



    .gantt_task_progress, .gantt_task_progress_drag { display: none!important;}

	.project strong{ color: black!important;}


	.blue {background-color:#3366CC !important;}
	.red {background-color: #DC3912 !important;}
	.orange {background-color: #FF9900 !important;}
	.green {background-color: #109618 !important;}
	.purple {background-color: #990099 !important;}
	.navy {background-color: #3B3EAC !important;}


	




